.contact-details-card {
    height: fit-content;
}

.contact-details-card .icon {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    background: #3d3072 ;
}
.contact-item {
    text-decoration: none;
    color: white;
}
.icon svg {
    transition: all 0.3s ease;
}

.icon svg:hover {
    transform: translateY(-0.5rem);
}

.contact-details-card p {
    font-size: 0.9rem;
    font-weight: 400;
}