.projects-container {
    margin: 4rem 0;
    position: relative;
}
.project-description{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.project-description .projectImg {
    flex: 1;
    width: 550px;
    height: auto;
}
.projectImg img {
    width: 100%;
    object-fit: contain;
    animation: upAndDown 3s ease infinite;
}

.project-description .project-text {
    flex: 1;
}

.projects-more {
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects-more a{
    text-decoration: none;
}
.projects-more button {
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: linear-gradient(90deg, var(--bg-primary) 0%, var(--bg-secondary) 100%);
    padding: 1.2rem;
    border: none;
    outline: 1.5px solid transparent;
    border-radius: 0.2rem;
    cursor: pointer;
    transition: all 0.5s ease;
    margin-top: 3rem;
}

.projects-more button:hover {
    color: var(--bg-primary);
    background: #000;
    outline: 1.5px solid var(--bg-primary);
}


.projects-container::after,
.projects-container::before {
    content: " ";
    width: 28rem;
    height: 28rem;
    border-radius: 28.125rem;
    background: var(--light-purple);
    position: absolute;
    z-index: -1;
    filter: blur(225px);
}

.projects-container::after {
    /* background: #51acb9; */
    bottom: 0;
    right: 0;
}

.projects-container h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3.5rem;
}

.projects-content {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
}

.projects {
    flex: 1;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1025px) {
    .projects,
    .projects-content {
        grid-gap: 2rem;
        grid-template-columns: repeat(1, 1fr);
    }
    .project-description {
        flex-direction: column;
    }
    .project-description .projectImg {
        width: 400px;
    } 
}

@media (max-width: 768px) {
    .projects-content {
        flex-direction: column-reverse;
        gap: 3rem;
    }

    .projects, .projects-info {
        width: 100%;
    }

    .projects-container h5 {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
    .projects-container::after,
    .projects-container::before {
        width: 18rem;
        height: 18rem;
    }
}

@media (max-width: 600px) {
    .projects-container {
        padding: 0;
    }
}


@keyframes upAndDown {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-35px);
    }
    100% {
      transform: translateY(0);
    }
  }
