.project-tech-stacks{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
    margin-top: 2rem;
}

.projects-info-card{
    min-height: 23rem;
    border-radius: 0.65rem;
    border: 1px solid var(--border);
    background: var(--bg-experience-card);
    backdrop-filter: blur(1rem);
}

.projects-info-card h6 {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.8rem 2rem;
    background: linear-gradient(180deg, #ac96ff 0%, #7c5fe6 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     border-bottom: 1.5px solid var(--border);
}

.projects-info-content {
    padding: 2rem;
}

.project-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projects-info p {
    font-size: 1rem;
    font-weight: 500;
}


@media (max-width: 1025px) {
    .projects-info-card h6 {
        font-size: 1.1rem;
    }

    .projects-info p {
        font-size: 0.9rem;
    }
    .projects-info-content {
        padding: 1.5rem;
    }
}