.experience-container {
    margin: 4rem 0;
    position: relative;
}

.experience-container h5 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.arrow-right,
.arrow-left {
    width: 2.2rem;
    height: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--border);
    border-radius: 0.65rem;
    border: 1px solid var(--border);
    background: var(--bg-experience-card);
    position: absolute;
    top: 55%;
    z-index: 2;
    cursor: pointer;
}

.arrow-right,
.arrow-left svg {
    font-size: 1rem;
    font-weight: 600;
}

.arrow-right {
    right: -1.5rem;
}
.arrow-left {
    left: -1.5rem;
}

@media (max-width: 1025px) {
    .arrow-left {
        left: 0;
    }
    .arrow-right {
        right: 0;
    }
}

@media (max-width: 768px) {
    .experience-container h5 {
        font-size: 1.3rem;
        margin-bottom: 2rem;
    }
    .arrow-left {  
        left: -1rem;
     }
    .arrow-right {  
        right: -1rem;
     }
}